
<div class="login">

  <mat-form-field>
    <input matInput placeholder="Login" class="login__input-name" value="login">
  </mat-form-field>
  <br>

  <mat-form-field>
    <textarea matInput placeholder="Password" class="login__input-password" value="password"></textarea>
  </mat-form-field>
  <br>

<!-- <div class="buttons">
  <a mat-button color="primary" (click)="throwUsertData()">Login</a>
  <a mat-button routerLink="/register">Register</a>
</div> -->

<a mat-button color="primary" (click)="loginUser()">Login</a>

</div>